body{
    background-image: url("books1.jpg");
    }
     .jumbotron{
       background-color: rgb(180, 213, 175);
       box-shadow: 1px 1px 10px navy;
       margin-top: 10px;
    }
    .card{
        box-shadow: 1px 1px 10px navy;
        background-color:rgb(218, 218, 218)
        }
    

    *h1, h3{
        font-family:'Dancing Script', cursive;
        background-color: rgb(149, 244, 242);
        color: Navy;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        margin-top: 20px;
        box-shadow: 1px 1px 10px navy;
        font-size: 60px;
        }
    h3{
        width: 115%;
        margin-top: -70px;
        font-size: 40px;
    }
    h2, h5{
        font-family:'Dancing Script', cursive;
        color: Navy;
    }
    #bottom{
        background-color: rgb(215, 252, 252);
        color: navy;
    }
    .card-deck{
      height: 90%;
      width: 119%;
      text-align: center;
      font-size: small;
    }
    */
  
     
    h6, h5{
        font-size: 12px;
        color:navy;
    }
    .card-deck2{
        height: 50%;
        width: 80%;
        text-align: center;
        font-size: small;
        margin-left: 55px;
    }
        #sidebar-wrapper{
            background-color: rgb(149, 244, 242);
            color: navy;
        } 